<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace = "admin/common :: head"></head>
    <body class="sb-nav-fixed">
        <nav th:replace="admin/common :: topnav"></nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav" th:replace = "admin/common :: layoutSidenav_nav"></div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Danh sách sản phẩm</h1>
                        <ol th:replace = "admin/common :: breadcumb-products"></ol>
                        <div class="">
                        <div style="display:flex;justify-content:space-between;margin-bottom:10px">
                        	<div>
								<form class="form-inline" action="#" th:action="@{/category-search/1}" method="get">
									<input class="form-control mr-sm-2" type="search" name="name" placeholder="Search by name ..." />
									<button class="btn btn-primary" type="submit">
										<i class="fa fa-search"></i> Tìm kiếm
									</button>
								</form>
							</div>
					
							<div>
								<a href="#" th:href="@{/admin/category-save}" class="btn btn-success float-right">
									<i class="fa fa-plus-square"></i> Thêm mới sản phẩm
								</a>
							</div>
						</div>

						<div th:if="${Message}" class="col-12 alert alert-success alert-dismissible fade show" role="alert">
								<span th:text="${Message}"></span>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
						</div>	
                           <th:block th:if="${#lists.isEmpty(categories.pageList)}">
								<h5>Không có danh mục sản phẩm nào</h5>
							</th:block>
				
							<th:block th:unless="${#lists.isEmpty(categories.pageList)}">
								<div class="table-responsive">
									<h5>Danh sách các danh mục</h5>
									<table class="table table-bordered table-hover">
										<thead>
										<tr>
											<th>#</th>
											<th>Mã danh mục sản phẩm</th>
											<th>Tên danh mục sản phẩm</th>
											<th>Ngày tạo</th>
											<th>Người tạo</th>
											<th>Sửa</th>
											<th>Xóa</th>
										</tr>
										</thead>
										<tbody>
										<tr th:each="category,iterStat : ${categories.pageList}">
											<th scope="row" th:text="${iterStat.count}"></th>
											<td th:text="${category.id}"></td>
											<td th:text="${category.name}"></td>
											<td th:text="${category.createdDate}"></td>
											<td></td>
											<td>
												<a href="#" th:href="@{|/admin/category-update?id=${category.id}|}" class="mr-sm-2 text-primary">
													<i class="fas fa-marker"></i> 
												</a> 
											</td>
											<td>	
												<a href="#" th:href="@{|/admin/category-delete?id=${category.id}|}"
												onclick="if(!(confirm('Bận có chắc chắn muốn xóa danh mục này không ?'))) return false"
												 class="text-danger">
													<i class="fa fa-trash"></i>
												</a>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</th:block>
                            
                        </div>
                        <div class="">
                        	<nav aria-label="Page navigation example">
				                <ul class="pagination">
									<li
										th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
										<a class="page-link" th:href="@{/admin/category}">First</a>
									</li>
									<li
										th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
										<a class="page-link" aria-label="Previous"
										th:href="@{|${baseUrl}${currentIndex - 1}|}"
										title='Go to previous page'><span aria-hidden="true">«</span>
											<span class="sr-only">Previous</span></a>
									</li>
									<li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
										th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
										<a class="page-link" th:href="@{|${baseUrl}${item}|}"> <span
											th:text='${item}'>1</span>
									</a>
									</li>
									<li
										th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
										<a class="page-link" aria-label="Next"
										th:href="@{|${baseUrl}${currentIndex + 1}|}" title='Go to next page'><span
											aria-hidden="true">»</span> <span class="sr-only">Next</span></a>
									</li>
									<li
										th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
										<a class="page-link" th:href="@{|${baseUrl}${totalPageCount}|}">Last</a>
									</li>
								</ul>
							</nav>
                        </div>
                    </div>
                </main>
                <footer th:replace = "admin/common :: footer">
                    
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="/assets/demo/chart-area-demo.js"></script>
        <script src="/assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="/assets/demo/datatables-demo.js"></script>
    </body>
</html>
