<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Đăng Nhập</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="css/nunito-font.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="css/formSignUp.css"/>
</head>
<body class="form-v6">
	<div class="page-content">
		<div class="form-v6-content">
			<div class="form-left">
				<img src="images/form-v6.jpg" alt="form">
			</div>
			<form class="form-detail" action="#" method="post">
				<div th:if="${success}"
					class="row alert alert-success alert-dismissible">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
					</button>
					<span th:text="${success}"></span>
				</div>
				<h2>Đăng Nhập</h2>
				
				<div class="form-row">
					<input type="text" name="your-email" id="your-email" class="input-text" placeholder="Địa chỉ Email" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
				</div>
				<div class="form-row">
					<input type="password" name="password" id="password" class="input-text" placeholder="Mật Khẩu" required>
				</div>
				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Đăng Nhập">
				</div>
				<div class="form-row">
					<p style="color: orange">Bạn chưa có tài khoản?</p>
					<a th:href="@{/dang-ky}" style="font-style: italic;">Tạo tài khoản tại đây</a>
				</div>
			</form>
		</div>
	</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>